@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* --dark sidebar rgb(63, 43, 43)--- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
    margin: 0;
}
:root {
    --pri-sidebar: rgb(66, 55, 123);
    --pri-sidebar-color: rgb(240, 229, 229);
    --pri-sidebar-hover: #fff;
    --pri-sidebar-color-hover: rgb(89, 69, 62);
    --pri-card-content-color: rgb(251, 251, 251);
    --pri-card1-content-bg: #7da0fa;
    --pri-card2-content-bg: #4747a1;
    --pri-card3-content-bg: #7978e9;
}
.containers {
    margin-left: 70px;
    width: calc(100% - 70px);
    height: 100%;
    font-family: "Poppins", sans-serif;
    transition: all 300ms ease-in;
    background-color: var(--pri-sidebar-hover);
}
.main_container {
    margin-left: 270px;
    width: calc(100% - 270px);
    height: 100%;
    font-family: "Poppins", sans-serif;
    transition: all 300ms ease-in;
    background-color: var(--pri-sidebar-hover);
    /* background-color: blue; */
}
/* .search_form{
  
  
  }
  .search_form input{
  
    height: 1.8em;
    font-size: 22px;
    width:15em;
  }
  .search_form input:focus{
    outline: none;
  }
  .search_form label{
    position: absolute;
    display: inline-flex;
    height: 2.9em;
    border-radius: 0px;
    background-color: rgb(144, 176, 221);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 4em;
  }
  .search_form label button{
    background: none;
    border: none;
    width: 4em;
    height: 2.9em;
    cursor: pointer;
  
  } */
/* ----------------------section------------------ */
.section_container {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.section_content {
    padding: 14px;
}
.section_content a {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.section_content a span:nth-child(1) {
    font-size: 40px;
}
.section_content a span {
    font-size: 28px;
    font-weight: 700;
}
/* --------------------view phone------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=League+Gothic&family=Nunito&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap");

.view_data {
    position: relative;
    display: flex;
    margin-top: 5%;
}
.data {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
}
.item-image {
    /* margin-left: 20%; */
    width: 55%;
    height: 350px;
}
.imageitem {
    /* inset: 0; */
    width: 80%;
    height: 100%;
    margin: 0;
}
.specs{
  width: 100%;
}
/* ---------------------------------media queries----------------------------- */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 70px;
    }
    .main_container {
        margin-left: 70px;
        width: calc(100% - 70px);
    }
    .uil-angle-right::before {
        display: none;
    }
    .uil-angle-left::before {
        display: none;
    }
    .respon_dash,
    .mobiles {
        opacity: 0;
        display: none;
    }
}
@media screen and (max-width: 915px) {
    .data {
        width: 63%;
    }
    .item-image {
        width: 37%;
    }
    .imageitem {
        /* inset: 0; */
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 580px){
  .view_data{
    flex-direction: column-reverse;
  }
  .data {
    width: auto;
}
.item-image {
    width:auto;
}
.imageitem {
    /* inset: 0; */
    width: 100%;
    height: 100%;
}
.specs{
  width: 100%;
}
}
